"*":
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
    lineHeight: 1.2
    fontFamily: "D2Coding"
    scrollPastEnd: true
    softWrap: true
  core:
    themes: [
      "native-ui"
      "one-dark-syntax"
    ]
  "markdown-writer":
    fileExtension: ".md"
  "markdown-preview":
    useGitHubStyle: true
    liveUpdate: false
  marked: {}
  "file-icons":
    onChanges: true
    coloured: true
    forceShow: true
  "git-plus": {}
  "atom-alignment": {}
  minimap: {}
  "exception-reporting":
    userId: "b3121ba2-5ce0-2fda-4539-61a8f93b5437"
  linter:
    errorPanelHeight: 22
  "linter-eslint":
    globalNodePath: "/opt/homebrew"
  "autocomplete-plus": {}
