"*":
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
    lineHeight: 1.2
    fontFamily: "D2Coding"
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    softWrap: true
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "markdown-writer":
    fileExtension: ".md"
  "markdown-preview":
    useGitHubStyle: true
  marked: {}
  "file-icons":
    onChanges: true
    coloured: false
  "git-plus": {}
  "atom-alignment": {}
  minimap: {}
  "exception-reporting":
    userId: "b3121ba2-5ce0-2fda-4539-61a8f93b5437"
