"*":
  "atom-alignment": {}
  "autocomplete-plus": {}
  core:
    packagesWithKeymapsDisabled: [
      "rst-preview-pandoc"
    ]
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor:
    fontFamily: "D2Coding"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "c92f5791-7da7-bfd9-e7cf-69b943449c4e"
  "file-icons":
    coloured: false
    forceShow: true
    onChanges: true
  "git-plus": {}
  linter:
    errorPanelHeight: 22
    showErrorPanel: false
  "linter-eslint":
    disableEslintIgnore: true
    globalNodePath: "/opt/homebrew"
    useGlobalEslint: true
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
  marked: {}
  minimap: {}
  "node-debugger":
    nodePath: "/opt/homebrew/bin/node"
  "rst-preview-pandoc":
    liveUpdate: false
    pandocOpts: "-fmarkdown_github -thtml --webtex"
  "toggle-quotes": {}
  welcome:
    showOnStartup: false
